<header>
  <h1 id="api-name">Exercise Tracker API</h1>
  <p>Created by <a href="https://autumnchris.github.io/portfolio" target="_blank">Autumn Bullard</a> &copy; <%= new Date().getFullYear() %></p>
  <div class="api-description">
    <p>An API that creates a username and gets a list of exercises for that unique username as well as logs new exercises.</p>
    <p>View the <a href="https://github.com/autumnchris/exercise-tracker-api" target="_blank" id="src-link" aria-labelledby="api-name src-link">source code</a> for this project.</p>
  </div>
  <hr />
</header>