<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exercise Tracker API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen+Mono">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <header>
      <h1>Exercise Tracker API</h1>
      <h2>Coded by <a href="https://autumnbullard-portfolio.herokuapp.com" target="_blank">Autumn Bullard</a></h2>
      <p>My project for the <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/exercise-tracker" target="_blank">Exercise Tracker challenge</a> as part of the curriculum for the Apis and Microservices Certification on <a href="https://www.freecodecamp.org" target="_blank">Free Code Camp</a>.</p>
      <p>View the <a href="https://github.com/autumnchris/exercise-tracker-api" target="_blank">source code</a> for this project.</p>
      <hr>
    </header>
    <main>
      <h3>Project Usage</h3>
      <h4>Create a User</h4>
      <p>Create a username in the form below to get a corresponding user ID that you can use to add exercises for that registered user.</p>
      <form class="new-user" action="/api/exercise/new-user" method="post">
        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" name="newUser" id="user" required>
        </div>
        <div class="button-group">
          <input type="submit" value="Submit">
        </div>
      </form>
    </main>
  </body>
</html>
