<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof title !== 'undefined' ? `${title} | ` : '' %>Exercise Tracker API</title>
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- body %>
    <script>
      function events() {
        document.addEventListener('click', event => {
          const element = event.target;
          element.matches('.copy-button.api-users') ? copyText('https://autumnchris-exercise-tracker-api.onrender.com/api/users') : null;
          element.matches('.copy-button.api-user-log') ? copyText('https://autumnchris-exercise-tracker-api.onrender.com/api/user/log/622f7319f705a6ace2af5c6f') : null;
          element.matches('.copy-button.api-user-log-limit') ? copyText('https://autumnchris-exercise-tracker-api.onrender.com/api/user/log/622f7319f705a6ace2af5c6f?limit=2') : null;
          element.matches('.copy-button.api-user-log-dates') ? copyText('https://autumnchris-exercise-tracker-api.onrender.com/api/user/log/622f7319f705a6ace2af5c6f?from=2022-03-12&to=2022-05-25') : null;
          element.matches('.copy-button.api-user-log-limit-and-dates') ? copyText('https://autumnchris-exercise-tracker-api.onrender.com/api/user/log/622f7319f705a6ace2af5c6f?from=2022-03-12&to=2022-05-25&limit=1') : null;
        });
      }

      function copyText(text) {
        navigator.clipboard.writeText(text);
      }

      events();
    </script>
  </body>
</html>